.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    background-color: #000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.accordian{
    width: 500px;
}

.item{
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.title{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color: white;
    height: auto;
}