.sidebar{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 25px 15px;
}
.sidebar img{
    width: 20px;
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    color: grey; 
    cursor: pointer;
}
.recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.recent-entry:hover{
    background-color: #e2e5eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
}